.featherlight-sample {
  display: none;
  max-width: 1024px;
}
#ab h3,
#law h3 {
  padding: 5px 0;
  text-align: center;
  font-size: 1.5rem;
}
#ab table,
#ab th,
#ab td,
#law table,
#law th,
#law td {
  border: 1px solid #333;
}
#ab th,
#ab td,
#law th,
#law td {
  padding: 2px;
}
#ab th,
#law th {
  background: #31326f;
  color: #fff;
  font-weight: normal;
}
#privacy > div > div,
#privacy > div > div > div > div {
  padding: 5px;
}
#privacy > div > div > div {
  padding: 5px 0;
}
#privacy h3 {
  padding: 5px 0;
  text-align: center;
  font-size: 1.5rem;
}
#privacy h4 {
  font-size: 1rem;
}
#privacy ul {
  padding: 5px;
  padding-right: 0;
  padding-left: 2em;
}
#privacy ul li {
  list-style: decimal outside;
}
